.plotly{
  font-family: jaf-bernina-sans, sans-serif;
}

#graphContainer {
  display: none; /* use flex */
  flex-wrap: wrap;
  flex-direction: column; /* Stack children vertically */
  gap: 10px;
  padding: 20px;
  background: var(--offwhite);
  font-family: jaf-bernina-sans, sans-serif;
}

#graphContainer h2, #graphContainer h3{
  margin: 0;
}

.chart-row {
  display: flex;          /* Arrange charts in a row */
  flex-wrap: wrap;        /* Allow wrapping to new lines if necessary */
  justify-content: space-evenly;
}
.chart {
  width: 150px;
  height: 150px;
  background: var(--lightgrey);
}


.chart-caption {
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  color: var(--almostBlack);
}

.legend-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
  font-size: 1.2em;
  color: var(--almostBlack);
}

.legend-row h3{
  margin: 0;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.legend-color {
  width: 15px;
  height: 3px;
  display: inline-block;
}

.region-line {
  background-color: var(--almostBlack);
}

.state-line {
  background-color: var(--yellow);
}